@import './../../mixin.scss';


.footer-section{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 225px;
    border-top: solid 4px var(--primary-color-green);
    >.footer-social{
        display: flex;
        gap: 42px;
        :hover{
            cursor: pointer;
        }
    }
}

.social-icons>img{
    @include transition(0.15s);
    @include animateScale(1.4);
}