.footer-section{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 291px;
    border-top: solid 4px var(--primary-color-green);
    >.footer-social{
        display: flex;
        gap: 42px;
        :hover{
            cursor: pointer;
        }
    }
}