.about-me-section{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 149px;
    overflow-x: hidden;
}

.section-text{
    display: flex;
    flex-direction: column;
    max-width: 471px;
    padding-top: 100px;
    padding-left: 100px;
    >h2{
        font-size: 12px;
        font-weight: 1500;
    }
}

.main-text{
    display: flex;
    gap: 40px;
    flex-direction: column;
    >div>h2{
        font-size: 90px;
        font-weight: 700;
    }
}

@media screen and (max-height: 1100px) {
    .main-text>div>h2{
        font-size: 40px;
    }

    .section-text{
        max-width: 540px;
    }
    }

.sub-text-wrap{
    display: flex;
    gap: 24px;
}

.sub-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 32px;
}

.character-img{
    width: 453px;
    height: 453px;
    border-radius: 100%;
    border: 4px solid var(--primary-color-green);
}

.character-section{
    display: flex;
    align-items: center;
    flex: 1;
}

.horizontal-stroke{
    flex: 1;
    >hr{
        width: 100%;
        border: 2px solid var(--primary-color-green);
        border-radius: 0 4px 4px 0;;
    }
}

