@import './../../../mixin.scss';

.feedback-section{
    padding-top: 146px;
    padding-bottom: 146px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    >.feedback-title{
        text-align: center;
    }
}

.feedback-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    position: relative;
}

.feedback-wrap{
    width: 800px;
    height: 272px;
    border: solid 4px var(--primary-color-green);
    display: block;
    padding: 48px 96px;
    border-radius: 32px;
    position: relative;
}

.slide-viewport{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.feedback-comment {
  transition: opacity 0.15s;
  opacity: 1;
}

.slide-viewport > .feedback-info{
    display: flex;
    text-align: end;
    font-size: 18px;
    font-weight: 400;
    transition: opacity 0.15s;
    opacity: 1;
}

.transitioning{
    opacity: 0;
}



.slide-viewport > .feedback-info > .horizontal-stroke{
    flex: 1;
    display: flex;
    align-items: center;
    transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.slide-viewport > .feedback-info > .horizontal-stroke > hr{
    width: 100%;
    max-width: 95%;
    border: solid 1px var(--primary-color-purple);
    border-radius: 32px;
    transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.left-animation{
    transform: translateX(-1000px);
}
.right-animation{
    transform: translateX(1000px);
}

.no-transition{
    transition: none !important;
}



.selection-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;

    >.arrow{
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 50%;
    @include dFlexCenter();
            &:hover{
                cursor: pointer;
                border: solid 2px var(--primary-color-green);
            }
        }
    }


    .selection{
        color: var(--primary-color-purple);
        @include dFlexCenter();
        &:hover{
            cursor: pointer;
            color: white;
            transform: scale(1.2);
            transform-origin: center center;
        }
    }
    
    .selected{
        color: var(--primary-color-green);
        transform: scale(1.3);
        @include dFlexCenter();
            &:hover{
                cursor: pointer;
                color: white;
            }
    }   

    .floating-image{
    position: absolute;
    top: -40px;
    left: 25px;
    z-index: 15;
    }
    