<div class="contact-section" id="contact-section">
    <div class="contact-title">
        <hr>
        <h2>Contact</h2>
        <div class="right-spacer"></div>
    </div>
    <div class="split-section">
        <div class="left-section">
            <div class="left-title">
                Got a Problem to solve?
            </div>
            <div class="left-text">
                <div>
                    Don't hesitate to contact me, i would like to help you with your problem.
                </div>
                <div>
                    Need a Frontend developer? <b>Contact me</b>!
                </div>
            </div>
        </div>
        <div class="right-section">
            <div class="scroll-top-btn">
                <a href="#navbar"><img src="./../../../assets/icons/arrow-icons/scroll-top.svg" alt=""></a>  
            </div>
            <div class="input-fields">
                <input type="text" placeholder="Your name">
                <input class="mail-input" type="email" placeholder="Your mail">
                <textarea name="" id="" placeholder="Your Message"></textarea>
            </div>
            <div class="checkbox-area">
                <label class="checkbox">
                    <input class="policy-checkbox" type="checkbox" />
                    <span class="checkmark" aria-hidden="true"></span>
                    <span class="checkbox-label">I've read the <a href="">privacy policy</a> and agree to the processing of my data as outlined</span>
                </label>
            </div>
            <div class="submit-button">
                <button>Send a Message</button>
            </div>
        </div>

    </div>
</div>