<div class="about-me-section">
    <div class="section-text">
        <div class="main-text">
            <div>
                <h2>About me</h2>
            </div>
            <div>
                <span>Hallo, ich bin Khang. <br> 
                Was mich am Frontend-Development begeistert, ist die perfekte Mischung aus Logik, Kreativität und Problemlösung. Die Welt des Codings ist für mich grenzenlos, und genau das motiviert mich jeden Tag aufs Neue: Man lernt niemals aus – und das macht diese Reise so spannend.
                Ich will wachsen, besser werden und sehen, zu was ich alles fähig bin.</span>
            </div>
        </div>
        <div class="sub-text-wrapper">
            <div class="sub-text-wrap">
                <div class="sub-icon">
                    <img src="/assets/icons/Capa_1.svg" alt="">
                </div>
                <div class="sub-text">
                        <span>Ich lebe in Göttingen, Deutschland, und möchte am liebsten Teil eines Teams sein, mit dem persönlicher Austausch möglich ist und von dem ich lernen kann. Remote-Arbeit ist für mich ebenfalls denkbar, aber die direkte Zusammenarbeit vor Ort hat für mich einen besonderen Wert.</span>
                </div>
            </div>
            <div class="sub-text-wrap">
                <div class="sub-icon">
                    <img src="/assets/icons/Vector.svg" alt="">
                </div>
                <div class="sub-text">
                    <span>Technologien entwickeln sich ständig weiter – und ich liebe es, mit ihnen zu wachsen. HTML, CSS und JavaScript bilden aktuell meinen Schwerpunkt. Vor allem JavaScript fasziniert mich: komplex, herausfordernd und voller Möglichkeiten. Genau diese Mischung hält meine Neugier wach und motiviert mich, meine Fähigkeiten kontinuierlich zu erweitern.</span>
                </div>
            </div>
            <div class="sub-text-wrap">
                <div class="sub-icon">
                        <img src="/assets/icons/Vector(1).svg" alt="">
                    </div>
                    <div class="sub-text">
                        <span>Ich arbeite analytisch, kreativ und strukturiert. Klarer, effizienter und gut verständlicher Code ist mir wichtig – nicht nur damit Dinge funktionieren, sondern damit Teams gemeinsam darauf aufbauen können. Jedes Projekt ist für mich eine Chance, eine elegante Lösung zu finden und mich weiterzuentwickeln.</span>
                    </div>
            </div>
        </div>
    </div>
    <div class="character-section">
        <div class="character-img">
            <img src="" alt="">
        </div>
        <div class="horizontal-stroke">
            <hr>
        </div>
    </div>
</div>
