<app-navbar></app-navbar>

<div class="atf-section">

    <div class="atf-right">
        <div class="atf-text">
            <div class="atf-name">
                <span>FRONTEND DEVELOPER</span><br>
                <span>Ngoc-Khang Duong</span> 
            </div>
        </div>
    <div class="atf-buttons">
        <div>
            <button class="portfolio-button">
                <span>Check my Work</span>
            </button>
        </div>
        <div>
            <button class="contact-btn">
                <span>Let's talk!</span> 
            </button>
        </div>
    </div>
</div>
    <div class="atf-social">
        <div><hr></div>
        <div class="social-icons" *ngFor="let icon of socialIcons; let i = index">
            <img src="{{ icon.icon }}" alt="">
        </div>
    </div>
    <div class="scroll-wrapper">
        <button class="scroll-btn">Scroll down <img src="./../../assets/icons/arrow-down-line.png" alt=""></button>
    </div>
</div>
