<div class="atf-section" id="atf-section" *ngIf="language === 'de'">

    <div class="atf-right">
        <div class="atf-text">
            <div class="atf-name">
                <span>FRONTEND ENTWICKLER</span><br>
                <span>Ngoc-Khang Duong</span> 
            </div>
        </div>
    <div class="atf-buttons">
        <div class="">
            <a href="#portfolio-section" class="portfolio-button button left">
                <span>Teste meine Arbeit</span>
            </a>
        </div>
        <div>
            <a href="#contact-section" class="contact-btn button left">
                <span>Lass uns reden!</span> 
            </a>
        </div>
    </div>
</div>
    <div class="atf-social">
        <div><hr></div>
        <div class="social-icons">
            <a href="https://github.com/Filzteppich" target="_blank" rel="noopener noreferrer"><img src="assets/icons/social-icons/Github_button.svg" alt=""></a> 
        </div>
        <div class="social-icons">
            <a  href="mailto:khang_136@yahoo.de"><img src="assets/icons/social-icons/Email_button.svg" alt=""></a> 
        </div>
        <div class="social-icons">
            <a  href="" target="_blank" rel="noopener noreferrer"><img src="assets/icons/social-icons/Linkedin_button.svg" alt=""></a> 
        </div>
    </div>
    <div class="scroll-wrapper">
        <a href="#aboutMeSection" class="scroll-btn">Runter scrollen <img src="./../../assets/icons/arrow-down-line.png" alt=""></a>
    </div> 
</div>
<div class="atf-section" id="atf-section" *ngIf="language === 'en'">

    <div class="atf-right">
        <div class="atf-text">
            <div class="atf-name">
                <span>FRONTEND DEVELOPER</span><br>
                <span>Ngoc-Khang Duong</span> 
            </div>
        </div>
    <div class="atf-buttons">
        <div>
            <a href="#portfolio-section" class="portfolio-button">
                <span>Check my Work</span>
            </a>
        </div>
        <div>
            <a href="#contact-section" class="contact-btn">
                <span>Let's talk!</span> 
            </a>
        </div>
    </div>
</div>
    <div class="atf-social">
        <div><hr></div>
        <div class="social-icons">
            <a href="https://github.com/Filzteppich" target="_blank" rel="noopener noreferrer"><img src="assets/icons/social-icons/Github_button.svg" alt=""></a> 
        </div>
        <div class="social-icons">
            <a  href="mailto:khang_136@yahoo.de"><img src="assets/icons/social-icons/Email_button.svg" alt=""></a> 
        </div>
        <div class="social-icons">
            <a  href="" target="_blank" rel="noopener noreferrer"><img src="assets/icons/social-icons/Linkedin_button.svg" alt=""></a> 
        </div>
    </div>
    <div class="scroll-wrapper">
        <a href="#aboutMeSection" class="scroll-btn">Scroll down <img src="./../../assets/icons/arrow-down-line.png" alt=""></a>
    </div> 
</div>
