

.portfolio-section{
    width: 100%;
    height: 100vh
}

.portfolio-title{
    display: flex;
    align-items: center; 
    gap: 32px;
    
    .left-spacer{
        flex: 1;
    }
    
    >hr{
        width: 100px;
        height: 0;
        border: 2px solid var(--primary-color-purple);
        border-radius: 4px;
    }

    >h2{
        font-size: 90px;
        text-align: center;
        white-space: nowrap;
    }
}

.horizontal-stroke{
        flex: 1;
        border-radius: 4px;
}

.portfolio-description{
    text-align: center;
    padding-top: 40px;
}

.project-img{
    width: 620px;
    >img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: none;
    }
}

.portfolio-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    gap: 80px;
}

.portfolio-wrap{
    display: flex;
    gap: 35px;
    max-width: 1168px;
    height: 339px;
    >div{
        max-width: 620px;
    }

    &:nth-child(even){
        flex-direction: row-reverse;
        text-align: end;
        >.project-info>.project-btn{
            display: flex;
            justify-content:flex-end ;
        }
    }
}

.project-info{
    max-width: 513px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.project-btn{
    gap: 86px;
    display: flex;
    padding-top: 35px;
    >div>.live-test-btn{
        background-color: var(--primary-color-purple);   
        padding: 15px 30px;
        border-radius: 10px;
        font-size: 23px;
    }
    >div>.github-btn{
    background-color: unset;
    border-color: var(--primary-color-green);
    border-radius: 10px;
    font-size: 23px;
    padding: 15px 30px;
}
}

.project-text{
    >span{
        display: inline-block;
    }
    >.project-name{
        font-size: 32px;
        color: var(--primary-color-purple);
        font-weight: 700;
    }
    >.project-skills{
        font-size: 23px;
        font-weight: 400;
        color: var(--primary-color-green);
        padding-top: 15px;
    }
    >.project-description{
        font-size: 16px;
        font-weight: 400;
        padding-top: 15px;
    }
}
