.portfolio-section{
    width: 100%;
    height: 100vh
}

.section-title{
    display: flex;
    align-items: center; 
    gap: 32px;
    
    .left-spacer{
        flex: 1;
    }
    
    >hr{
        width: 100px;
        height: 0;
        border: 2px solid var(--primary-color-green);
        border-radius: 4px;
    }

    >h2{
        font-size: 90px;
        text-align: center;
        white-space: nowrap;
    }
}

.horizontal-stroke{
        flex: 1;
        border: 2px solid var(--primary-color-green);
        border-radius: 4px;
    }