<app-navbar></app-navbar>

<div class="atf-section">
    <div class="atf-left">

    </div>
    <div class="atf-right">
<div class="atf-text">
        <div class="atf-vertical-text">
           <span>I am</span> 
        </div>
        <div class="atf-name">
            <span>Khang Duong</span> <br>
            <span>FRONTEND DEVELOPER</span>
        </div>
    </div>
    <div>
        <button class="atf-btn">
            <span>Let's talk!</span> 
        </button>
    </div>
</div>
    <div class="atf-social">
        <div><hr></div>
        <div><img src="/assets/icons/social-icons/8. Github button.svg" alt=""></div>
        <div><img src="/assets/icons/social-icons/9. Email button.svg" alt=""></div>
        <div><img src="/assets/icons/social-icons/10. Linkedin button.svg" alt=""></div>
    </div>
    <div class="scroll-wrapper">
        <button class="scroll-btn">Scroll down <img src="./../../assets/icons/arrow-down-line.png" alt=""></button>
    </div>
</div>
