section{
    background-color: var(--background-color-blue);
    color: var(--primary-color-white);
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    >.navbar-logo{
        padding-left: 100px;
    }
    .navbar-content{
        display: flex;
        gap: 29px;
        flex-direction: row;
        padding-right: 90px;

        >a{
            text-decoration: none;
            color: var(--primary-color-white);

        }
    }
}